// Colours
$white: white;
$darkblue: #20212c;
$yellow: #f0ca24;
$fiestared: #ec4116;
$lightgray: #fafafa;
$lightblue: #30b2fd;

// Sizes
$large: 7vw;

// Fonts
$SanFran: -apple-system, BlinkMacSystemFont, sans-serif;
%antialiasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Styling
body {
  @extend %antialiasing;
  font-family: $SanFran;

  background: $darkblue;;
  color: $lightgray;
  line-height: 1;
  margin: 0;

  @media (prefers-color-scheme: dark) {
    background: $darkblue;
    color: $lightgray;
  }

  @media (prefers-color-scheme: light) {
    background: $lightgray;
    color: $darkblue;
  }
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  max-height: 5vh;

  & ul {
    display: flex;
    padding: .5rem;

    & li {
      font-size: .8rem;
      font-weight: 600;

      display: flex;
      list-style: none;
      flex-direction: column;
      margin-right: 2rem;

      & a {
        text-decoration: none;
        color: inherit;
      }

      & + li {
        margin-left: .5rem;
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  padding: 10%;

  h1 {
    font-size: $large;
    font-weight: 800;
    margin: 0;

    & span img {
      width: 10vw;
      transform: rotate(-25deg);
      filter: drop-shadow(0 0 60px $white);
    }
  }

  p {
    font-size: $large;
    font-weight: 200;
    margin: 0;
  }
}

footer {
  padding: 0 10%;

  a {
    $orange: rgb(233, 169, 74);

    display: flex;
    justify-content: flex-start;
    width: min-content;

    border: none;
    color: inherit;
    appearance: none;
    background: none;
    border-radius: 2rem;
    font-weight: 600;
    
    svg {
      cursor: pointer;
      color: $orange;

      transition: .3s all ease;
      &:hover {
        color: lighten($orange, 30%);
      }
    }
  }
}
