// Colours
$white: white;
$darkblue: #20212c;
$yellow: #f0ca24;
$fiestared: #ec4116;
$lightgray: #fafafa;
$lightblue: #30b2fd;

// Sizes
$large: 7vw;

// Fonts
$SanFran: -apple-system, BlinkMacSystemFont, sans-serif;
%antialiasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Styling
body {
  @extend %antialiasing;
  font-family: $SanFran;

  display: flex;
  flex-direction: column;
  padding: 10%;

  background: $darkblue;;
  color: $lightgray;
  line-height: 1;

  h1 {
    font-size: $large;
    font-weight: 800;
    margin: 0;

    .addition {
      display: none;
    }

    & span img {
      margin: -1rem;
      width: 10vw;
      transform: rotate(-25deg);
      filter: drop-shadow(0 0 60px $white);
    }
  }

  p {
    font-size: $large;
    font-weight: 200;
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    background: $darkblue;
    color: $lightgray;
  }

  @media (prefers-color-scheme: light) {
    background: $lightgray;
    color: $darkblue;
  }
}